@{

    Page.Title = "Confirm Email";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";

}
<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <h2>@Page.Title.</h2>
    <div>
        <p>
            Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/someeAdRemove")
    @Scripts.Render("~/Content/js/headroom")
    @Scripts.Render("~/bundles/jqueryval")
}
