@{
    Page.Title = "Сompletion of registration";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<header id="head" class="secondary"></header>

<h2>@Page.Title</h2>
<p>The following instructions were sent to the e-mail address to complete the registration</p>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/someeAdRemove")
    @Scripts.Render("~/Content/js")
    @Scripts.Render("~/bundles/jqueryval")
}