@model EntropiaWebAuc.Areas.Default.Models.RegisterViewModel
@{
    Page.Title = "Register";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Registration</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Registration</h1>
            </header>

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center">Register a new account</h3>
                        <p class="text-center text-muted">Already signed up?<b> @Html.ActionLink("Login Here", "Login", "Account")</b>  </p>
                        <hr>

                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="top-margin">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <div class="row top-margin">
                                <div class="col-sm-6">
                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.LabelFor(m => m.ConfirmPassword)
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-8">
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(m => m.TermsAndConditions)
                                        I've read the <a href="page_terms.html">Terms and Conditions</a>
                                    </label>

                                </div>
                                <div class="col-lg-4 text-right">
                                    <button class="btn btn-success" type="submit">Register</button>
                                </div>
                            </div>

                        }

                    </div>
                </div>

            </div>

        </article>
        <!-- /Article -->

    </div>
</div>
<!-- /container -->
@section Scripts {

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/someeAdRemove")
    @Scripts.Render("~/Content/js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/chekBoxRequire")


}
