@{
    Page.Title = "Reset password confirmation";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<header id="head" class="secondary"></header>

<hgroup class="title">
    <h1>@Page.Title.</h1>
</hgroup>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/someeAdRemove")
    @Scripts.Render("~/Content/js")
   
}
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
