@model EntropiaWebAuc.Domain.Messages

@{
    Page.Title = "Message Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutSideBar.cshtml";
}



<div>
    <h4>Message</h4>
    <hr />

    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">@Html.DisplayFor(model => model.Title)</h3>
            <div class="row">
                <div class="col-xs-6">
                    <p><strong>@Html.DisplayFor(model => model.SenderName)</strong> from <strong> @Html.DisplayFor(model => model.SenderEmail)</strong></p>
                    <p>@Html.DisplayFor(model => model.Date)</p>
                </div>
                <div class="col-xs-6 text-right">
                    <div class="btn-group">
                       
                    </div>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.Text)
                    </div>
                </div>
            </div>
        </div>
        
    </article>
</div>





