@using PagedList.Mvc;
@model PagedList.IPagedList<EntropiaWebAuc.Areas.Default.ViewModel.MessagesViewModel>


@{
    Page.Title = "Outgoing Messages";
    Layout = "~/Areas/Default/Views/Shared/_LayoutLeftSideBar.cshtml";
}

<h2>@Page.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("RoleAddToUser", "Role"))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th><label><input type="checkbox" value=""></label></th>
            <th>
                Title
            </th>

            <th>
                @Html.ActionLink("Recipient Name", "Index", new { sortOrder = ViewBag.NameSortParam })
            </th>
            <th>
                @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>


            <th></th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr style="@(Model[i].Message.Read == false ? "font-weight:bold" : "")">

                @Html.HiddenFor(m => Model[i].Message.Id)
                <td>@Html.CheckBoxFor(modelItem => Model[i].IsSelected, new { @class = "checkable" })</td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Message.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => Model[i].Message.AspNetUsers.UserName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => Model[i].Message.Date)
                </td>



                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model[i].Message.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = Model[i].Message.Id, isAdmin = true }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model[i].Message.Id })
                </td>
            </tr>
        }

    </table>

    <label for="sel1">With selectes messages:</label>
    <div class=" form-group row">

        <div class="col-xs-4">
            @Html.DropDownList("actionId", new SelectList(
        new List<SelectListItem>
            {
            new SelectListItem { Selected = true, Text = "Set as not read", Value = "notRead"},
            new SelectListItem { Selected = false, Text = "remove", Value = "remove"},

            }, "Value", "Text", 1), new { @class = "form-control " })
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>

}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Incoming",
    new { page, sortOrder = ViewBag.CurrentSort }))

@section scripts {
    @Scripts.Render("~/bundles/adminTemplate")
}
