<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@Page.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/style2")
    @Styles.Render("~/Content/slider")

</head>
<body class="home">
    @Html.Partial("_NavBar")
    @RenderBody()
</body>
</html>
