<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@Page.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/style2")
    @Styles.Render("~/Content/plugins/slider.revolution.v4/css/slider")

</head>
<body class="home">
    @Html.Partial("_NavBar")
    @RenderBody()
    @Html.Partial("_Footer")
</body>
</html>
