@model EntropiaWebAuc.Entities.StandartItem

@{
    ViewBag.Title = "Standart Item";
}
@if (Model.Name == null)
{
    <h1>Create new Standart Item</h1>
    ViewBag.button = "Create";
}
else
{
    <h1>Edit @Model.Name</h1>
    ViewBag.button = "Edit";
}

@using (Html.BeginForm("Edit", "StandartItem"))
{
    @Html.ValidationSummary(true)
   
    <div class="form-group">
        @Html.LabelFor(model => model.ItemId)
        @Html.DisplayFor(model => model.ItemId)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Price)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Category)
        @Html.TextBoxFor(model => model.Category, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Category)
    </div>



   
        <input type="submit" value="@ViewBag.button" />
        @Html.ActionLink("Back to List", "Index")
    
}

<form>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form> 
