@using PagedList.Mvc;
@model PagedList.IPagedList<EntropiaWebAuc.Domain.Messages>

@{
    Page.Title = "All Messages";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutSideBar.cshtml";
}

<h2>@Page.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("MessageAct", "Messages"))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th><label><input type="checkbox" value=""></label></th>
            <th>
                Title
            </th>

            <th>
                @Html.ActionLink("Sender Name", "Index", new { sortOrder = ViewBag.NameSortParam })
            </th>
            <th>
                @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="@(item.Read == false ? "font-weight:bold" : "")">


                <td>@Html.CheckBox(item.Id.ToString())</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SenderName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>



                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort }))