@using EntropiaWebAuc.Areas.Admin.ViewModel
@model IEnumerable<UsersRoles>

@{
    ViewBag.Title = "RoleAddToUser";

}

<div class="spacerBody">
    <h2>Add role to user</h2>

    <p>&nbsp;</p>
    <table class="table">
        <thead>
            <tr>
                <th><label><input type="checkbox" value=""></label></th>
                <th>User</th>
                <th>Role</th>
            </tr>
        </thead>

        <tbody>
            @foreach (UsersRoles user in Model)
            {

                <tr>
                    <td><label>@Html.CheckBoxFor(m => user.selected, new { id = user.User.Id })</label></td>
                    <td>@user.User.UserName</td>

                    <td>
                        @if (@user.UserRoles.Count() >= 1)
                        {
                            @user.UserRoles.First()
                        }
                    </td>
                </tr>
            }

        </tbody>

    </table>


    <label for="sel1">With selectes users:</label>
    <div class=" form-group row">
        <div class="col-xs-6">
            @Html.DropDownList("roleId", new SelectList(ViewBag.Roles, "Id", "Name"), new { @class = "form-control" })
        </div>
        <div class="col-xs-2">
            @Html.DropDownList("actionId", new SelectList(
        new List<SelectListItem>
            {
            new SelectListItem { Selected = true, Text = "remove", Value = "-1"},
            new SelectListItem { Selected = false, Text = "add", Value = "1"},

            }, "Value", "Text", 1), new { @class = "form-control " })
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</div>
